In [3]:
import pandas as pd
import numpy as np
import datetime

In [2]:
data = pd.read_csv('./november_2021_COVID-19_Twitter_Streaming_Dataset.csv')

In [5]:
WEEKDAY = {'Mon':0,
           'Tue':1,
           'Wed':2,
           'Thu':3,
           'Fri':4,
           'Sat':5,
           'Sun':6
          }

In [9]:
def find_tweet_timestamp_post_snowflake(tid):
    offset = 1288834974657
    tstamp = (tid >> 22) + offset

    current_date = datetime.datetime.fromtimestamp(tstamp/1000)
    weekday = WEEKDAY[current_date.ctime().split()[0]]

    return weekday

In [10]:
find_tweet_timestamp_post_snowflake(data['_id'][0])

6

In [19]:
data_day = data['_id'].map(find_tweet_timestamp_post_snowflake)

In [26]:
data_df = data_day.to_frame()
data_df

          _id
0           6
1           6
2           6
3           6
4           6
...       ...
99403360    1
99403361    1
99403362    1
99403363    1
99403364    1

[99403365 rows x 1 columns]

In [27]:
data_df.groupby(['_id'])['_id'].count()

_id
0    14871515
1    19058562
2    14408842
3    14140650
4    15754616
5    11740232
6     9428948
Name: _id, dtype: int64